* {
  box-sizing: border-box;
  color: #ffffff;
  background-color: #060a16;
  font-family: 'Nunito Sans', sans-serif;
  text-decoration: none;
}

.navbar_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #0253a5;
  padding: 1em 0;
}

.nav_logo {
  display: none;
}

.logo_link {
  background-color: inherit;
}

.nav_links_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: inherit;
}

.nav_link {
  background-color: inherit;
  border-bottom: 2px solid transparent;
}

.nav_link:hover {
  color: #cc2b31;
  border-bottom: 2px solid #cc2b31;
  transition: all 0.3s;
}